body {
	margin: 0 !important;
	padding: 0 !important;
}

.sign-in-button {
	margin-right: 5px;
}
.sign-up-button {
	margin-left: 5px;
}
.create-link-form-holder {
	max-width: 65%;
	padding-top: 60px;
}

.bi {
	margin-bottom: 4px;
}

.header-avatar {
	color: white;
}
.header-avatar:hover {
	color: white;
}

.copy-button {
	background-color: white;

	border: none;
}
.copy-button:hover {
	background-color: white;
	color: blue;
	border: none;
}
.three-dot-button {
	background-color: white;

	border: none;
}
.three-dot-button:hover {
	background-color: white;
}
.notfound-title {
	color: #212529;
}
/* Modal */

.rounded-4 {
	border-radius: 0.5rem;
}
.rounded-5 {
	border-radius: 0.75rem;
}
.rounded-6 {
	border-radius: 1rem;
}

.modal-sheet .modal-dialog {
	width: 380px;
	transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
	padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
	width: 380px;
}

.border-right {
	border-right: 1px solid #eee;
}

.modal-tour .modal-dialog {
	width: 380px;
}

.list-group {
	margin-top: 150px;
	margin-bottom: 150px;
}

.sign-up-holder {
	margin-top: 70px;
}
.sign-in {
	margin-top: 120px;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.mobile-view {
		display: none;
	}
	.urls-table-holder {
		/* margin-top: 100px; */
		max-width: 80%;
	}
	.create-link-form-holder {
		max-width: 80%;
		/* margin-top: 100px; */
	}
	.list-group {
		margin-top: 80px;
		margin-bottom: 100px;
	}
}

@media only screen and (max-width: 600px) {
	/* For mobile phones: */
	.desktop-view {
		display: none;
	}
	.urls-table-holder {
		/* margin-top: 100px; */
		max-width: 100%;
	}
	.create-link-form-holder {
		max-width: 100%;
		/* margin-top: 100px; */
	}
	.list-group {
		margin-top: 80px;
		margin-bottom: 100px;
	}
	.hide-mobile-view {
		display: none;
	}
}
